/***********************/
/* General             */
/***********************/

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 1rem;
  font-family: 'Roboto';
  line-height: 1.5;
  background-color: #fafafa;
  color: #4a4a4a;
}

h1 {
  font-size: 1.7rem;
  margin: 0;
  padding-top: 30px;
}

h2 {
  margin: 0;
  padding: 45px 0;
  text-transform: uppercase;
  font-size: 1.1rem;
}

h3 {
  margin: 0 0 20px;
  font-weight: normal;
}

img {
  max-width: 100%;
  margin: 0 0 20px 0;
}

nav ul {
  text-transform: uppercase;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

.wrapper {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

section {
  padding-bottom: 20px;
}


/***********************/
/* Header              */
/***********************/

header img {
  width: 60%;
}

header p {
  color: #7f7f7f;
}

.nav-bar {
  background-color: #333;
  color: #fafafa;
}

.nav-bar a {
  color: #fafafa;
}

.main-nav {
  margin-bottom: 60px;
}

.main-nav ul {
  padding-left: 0;
  margin-left: 0;
}

.main-nav li {
  margin-bottom: 6px;
}

.main-nav a {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
}


/***********************/
/* Main                */
/***********************/

main {
  padding-bottom: 15px;
  background-color: #fff;
}

#portfolio p {
  width: 80%;
  margin: 0 auto;
}

#portfolio section {
  padding-bottom: 30px;
}

#skills {
  clear: both;
}

#skills ul {
  list-style-type: none;
  margin: 10px 0;
  padding-left: 0;
}

#skills li {
  height: 45px;
  margin-bottom: 10px;
  background-color: #eee;
  text-align: left;
  color: #fafafa;
}

#skills span {
  float: left;
  clear: both;
  width: 7.5rem;
  height: 45px;
  padding: 10px;
  background-color: #333;
  text-align: center;
  color: #fafafa;
}

#skills .progress {
  float: left;
  height: 45px;
  padding: 11px;
  background-color: #424242;
  text-align: right;
  font-size: .9rem;
}

#skills .html {
  width: calc(.95 * (100% - 7.5rem));
}

#skills .css {
  width: calc(.9 * (100% - 7.5rem));
}

#skills .sass {
  width: calc(.8 * (100% - 7.5rem));
}

#skills .js {
  width: calc(.7 * (100% - 7.5rem));
}

#skills .react {
  width: calc(.6 * (100% - 7.5rem));
}

#skills .jquery {
  width: calc(.65 * (100% - 7.5rem));
}

#skills .git {
  width: calc(.7 * (100% - 7.5rem));
}

#skills .ps {
  width: calc(.5 * (100% - 7.5rem));
}


/***********************/
/* Footer              */
/***********************/

footer p {
  margin: 0 0 40px;
}

footer p,
.contact-info li,
.contact-info a {
  color: #7f7f7f;
}

footer h2 {
  margin-top: 20px;
}

footer ul {
  list-style-type: none;
}

footer a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: #4a4a4a;
  padding: 20px;
}

#contact {
  max-width: 560px;
  margin: 0 auto;
}

.contact-info a {
  display: inline-block;
  padding: 7px 10px;
  font-weight: bold;
}

hr {
  height: 1px;
  margin-top: 25px;
  border: none;
  background-color: #e7e7e7;
}

.footer-nav {
  display: none;
}

.name {
  float: left;
}

.back-to-top {
  float: right;
  text-transform: uppercase;
}

.name,
.back-to-top {
  max-width: 50%;
  margin-bottom: 5px;
}


/***********************/
/* Media Queries       */
/***********************/

@media screen and (min-width: 768px) {

  h3 {
    margin-bottom: 15px;
  }

  .main-nav {
    margin-bottom: 50px;
  }

  .main-nav li {
    display: inline-block;
    background-color: inherit;
  }

  .main-nav a {
    width: auto;
    padding: 0 20px;
  }

  .main-nav a:hover {
    border-radius: 5px;
    background-color: #fafafa;
    color: #333;
  }

  .intro {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .intro img {
    float: right;
    width: 45%;
    margin-left: 20px;
  }

  .intro p {
    text-align: left;
    font-size: 1.1rem;
  }

  main {
    padding-bottom: 35px;
  }

  #portfolio section {
    float: left;
    width: 49%;
    margin-right: 2%;
  }

  #portfolio section:nth-of-type(even) {
    margin-right: 0;
  }

  #skills li {
    float: left;
    width: 49%;
    margin-right: 2%;
  }

  #skills li:nth-of-type(even) {
    margin-right: 0;
  }

  #contact {
    width: 67%;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  .name {
    margin-bottom: 60px;
  }

  .footer-nav {
    display: block;
    float: right;
    font-size: .9rem;
  }

  .footer-nav ul {
    margin-top: 2px;
  }

  .footer-nav li {
    display: inline;
  }

  .back-to-top {
    display: none;
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

}

@media screen and (min-width: 1024px) {

  header h1 {
    float: left;
    width: 50%;
    text-align: left;
  }

  .main-nav {
    float: right;
    width: 50%;
    margin: 18px 0 5px;
    text-align: right;
  }

  .intro p {
    font-size: 1.2rem;
  }

  main {
    background-color: #fafafa;
    padding-bottom: 0;
  }

  main .wrapper {
    box-sizing: content-box;
    background-color: #fff;
    padding: 0 30px 30px;
  }

  #portfolio section:nth-of-type(n) {
    width: 32%;
    margin-right: 2%;
  }

  #portfolio section:nth-child(3n+4) {
    margin-right: 0;
  }

  #contact {
    width: 55%;
    font-size: 1.2rem;
  }
}
